<html>
  <form #ngForm="ngForm" (ngSubmit)="persistirRegistro(ngForm)" class="contain">
    <div class="ui-g ui-fluid div1">
      <div class="ui-g-12 ui-md-12">
        <h1>Cadastro de Aluno</h1>
      </div>
      <div class="ui-g-12 ui-md-12">
        <h3>Dados pessoais</h3>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-6 ui-md-5 ui-sm-12">
          <label for="nomeAluno">Nome do aluno:</label>
          <input
            [(ngModel)]="aluno.nome"
            type="text"
            pInputText
            id="nomeAluno"
            name="nomeAluno"
            class="input"
          />
        </div>

        <div class="ui-g-6 ui-md-6 ui-sm-12">
          <label>Sexo:</label>
          <br />
          <p-radioButton
            [(ngModel)]="aluno.sexo"
            name="sexo"
            value="M"
            label="Masculino"
          ></p-radioButton>
          <p-radioButton
            [(ngModel)]="aluno.sexo"
            name="sexo"
            value="F"
            label="Feminino"
          ></p-radioButton>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-6 ui-md-2 ui-sm-12">
          <label for="cpf">CPF: </label>
          <p-inputMask
            [(ngModel)]="aluno.cpf"
            unmask="true"
            mask="999.999.999-99"
            name="cpf"
            styleClass="input"
          ></p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-2">
          <label>Nascimento:</label>
          <p-calendar
            [(ngModel)]="aluno.nascimento"
            [monthNavigator]="true"
            [yearNavigator]="true"
            yearRange="2000:2030"
            dateFormat="dd/mm/yy"
            name="nascimento"
          ></p-calendar>
        </div>
      </div>

      <div class="ui-g-6 ui-md-5 ui-sm-12">
        <label for="nomePai">Nome do Pai:</label>
        <input
          [(ngModel)]="aluno.nomePai"
          type="text"
          pInputText
          id="nomePai"
          name="nomePai"
          class="input"
        />
      </div>

      <div class="ui-g-6 ui-md-5 ui-sm-12">
        <label for="nomeMae">Nome da Mãe:</label>
        <input
          [(ngModel)]="aluno.nomeMae"
          type="text"
          pInputText
          id="nomeMae"
          name="nomeMae"
          class="input"
        />
      </div>

      <div class="ui-g-6 ui-md-5 ui-sm-12"></div>
    </div>
    <div class="ui-g ui-fluid div1">
      <div class="ui-g-12 ui-md-12">
        <h3>Contatos</h3>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-6 ui-md-2 ui-sm-12">
          <label for="residencia">Tel. residencial: </label>
          <p-inputMask
            unmask="true"
            [(ngModel)]="contato[0].numero"
            mask="(99)9999-9999"
            name="residencia"
            styleClass="input"
          ></p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-2 ui-sm-12">
          <label for="celular">Tel. celular: </label>
          <p-inputMask
            unmask="true"
            [(ngModel)]="contato[1].numero"
            mask="(99)99999-9999"
            name="celular"
            styleClass="input"
          ></p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-2 ui-sm-12">
          <label for="comercial">Tel. comercial: </label>
          <p-inputMask
            unmask="true"
            [(ngModel)]="contato[2].numero"
            mask="(99)9999-9999"
            name="comercial"
            styleClass="input"
          ></p-inputMask>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid div1">
      <div class="ui-g-12 ui-md-12">
        <h3>Endereço</h3>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4 ui-md-2 ui-sm-12">
          <label for="cep">Cep:</label>
          <input
            [(ngModel)]="endereco.cep"
            type="text"
            pInputText
            id="cep"
            name="cep"
            class="input"
            (blur)="getCamposEndereco()"
          />
        </div>

        <div class="ui-g-6 ui-md-5 ui-sm-12">
          <label for="endereco">Rua:</label>
          <input
            [(ngModel)]="endereco.rua"
            type="text"
            pInputText
            id="endereco"
            name="endereco"
            class="input"
          />
        </div>

        <div class="ui-g-4 ui-md-2 ui-sm-12">
          <label for="numero">Número:</label>
          <input
            type="text"
            pInputText
            id="numero"
            name="numero"
            style="height: 25px"
          />
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3 ui-md-3 ui-sm-12">
          <label for="bairro">Bairro:</label>
          <input
            [(ngModel)]="endereco.bairro"
            type="text"
            pInputText
            id="bairro"
            name="bairro"
            class="input"
          />
        </div>

        <div class="ui-g-3 ui-md-3 ui-sm-12">
          <label for="cidade">Cidade:</label>
          <input
            [(ngModel)]="endereco.cidade"
            type="text"
            pInputText
            id="cidade"
            name="cidade"
            class="input"
          />
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid div1">
      <div class="ui-g-12 ui-md-12">
        <h3>Biometria</h3>
      </div>
      <div class="ui-g-12">
        <p-fieldset
          legend="Mão direita"
          [toggleable]="true"
          styleClass="fieldset"
        >
          <div class="ui-g-1 ui-md-1"></div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <p-card styleClass="card">
              Clique para salvar a imagem da digital.
            </p-card>
            <label class="card-label">Primeiro Quirodáctilo</label>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <p-card styleClass="card">
              Clique para salvar a imagem da digital.
            </p-card>
            <label class="card-label">Segundo Quirodáctilo</label>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <p-card styleClass="card">
              Clique para salvar a imagem da digital.
            </p-card>
            <label class="card-label">Terceiro Quirodáctilo</label>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <p-card styleClass="card">
              Clique para salvar a imagem da digital.
            </p-card>
            <label class="card-label">Quarto Quirodáctilo</label>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <p-card styleClass="card">
              Clique para salvar a imagem da digital.
            </p-card>
            <label class="card-label">Quinto Quirodáctilo</label>
          </div>
        </p-fieldset>

        <p-fieldset
          legend="Mão esquerda"
          [toggleable]="true"
          styleClass="fieldset"
        >
          <div class="ui-g-1 ui-md-1"></div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <p-card styleClass="card">
              Clique para salvar a imagem da digital.
            </p-card>
            <label class="card-label">Primeiro Quirodáctilo</label>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <p-card styleClass="card">
              Clique para salvar a imagem da digital.
            </p-card>
            <label class="card-label">Segundo Quirodáctilo</label>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <p-card styleClass="card">
              Clique para salvar a imagem da digital.
            </p-card>
            <label class="card-label">Terceiro Quirodáctilo</label>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <p-card styleClass="card">
              Clique para salvar a imagem da digital.
            </p-card>
            <label class="card-label">Quarto Quirodáctilo</label>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <p-card styleClass="card">
              Clique para salvar a imagem da digital.
            </p-card>
            <label class="card-label">Quinto Quirodáctilo</label>
          </div>
        </p-fieldset>
      </div>
    </div>

    <div class="ui-g m-t-30">
      <div class="ui-g-12 ui-md-2">
        <button
          class="voltar-btn teal-btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
          pButton
          type="button"
          icon="ui-icon-chevron-left"
          routerLink="/"
          label="Cancelar"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-8"></div>
      <div class="ui-g-12 ui-md-2">
        <button
          class="ui-widget ui-state-default ui-corner-all ui-button-text-only"
          pButton
          type="submit"
          label="Salvar"
          icon="ui-icon-save"
        ></button>
      </div>
    </div>
  </form>
</html>
